*{
    margin: 0;
    padding: 0;
}

header
    {
        background-image:url(Pictures/R8.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

.M-nav
    {
       float: right;
       list-style: none;
    }

.M-nav li
     {
         display: inline-block;
     }  

.M-nav li a
    {
        color: white;
        text-decoration: none;
        padding: 5px 20px;
        font-size: 15px;
    }     